@model OrangeBricks.Web.Controllers.Property.ViewModels.MyPropertiesViewModel

@{
    ViewBag.Title = "Properties with offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Properties with offers</h2>

<p>Here is a list of properties you made offers  on:</p>

@foreach (var property in Model.Properties)
{
    <hr />
    <h3>@property.StreetName</h3>
    <p>@property.NumberOfBedrooms bedroom @property.PropertyType</p>
    <p>@property.Description</p>

    <a href="@Url.Action("OnPropertyMyOffers", "Offers", new {id = property.Id})">View offers that you have  made on this property...</a>
        
    @*if (!property.IsListedForSale)
    {
        using (Html.BeginForm("ListForSale", "Property"))
        {
            @Html.Hidden("PropertyId", property.Id)
            <input class="btn btn-primary" type="submit" value="List Property For Sale" />
        }
    }*@

}